.search {
    display: block;
    text-align: center;
    padding: 100px;
}

.results {
    width: 80%;
    margin: auto;
}

.search .search-bar input {
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 14px;
    transition: all .3s ease-in-out;
}

.search .search-bar input:hover {
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    cursor: pointer;
}

.search .search-bar button {
    padding: 10px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 14px;
    background: #2196F3;
    color: aliceblue;
    border: #2196F3;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.search .search-bar button:hover {
    cursor: pointer;
    font-size: 17px;
}